* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Fira Sans", "serif";
}

/* Header Section Style */
header {
    max-width: 1600;
    width: auto;
    padding: 0px 160px;
    background: rgb(245, 245, 245);
}

/* Nav Bar Section Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;

}

.nav-title {
    color: rgb(14, 14, 14);

    font-size: 32px;
    font-weight: 700;

}

.nav-button {

    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
}

/* Main Section Style */
/* Shared Styles -Start*/
main {
    max-width: 1600;
    width: auto;
    padding: 0px 160px 80px;
    background: rgb(245, 245, 245);
}

section h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    margin-bottom: 32px;
}

/* Shared Styles -End*/


/* Banner Section Styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    background-color: #c6e4d6;
    border-radius: 24px;
    padding: 80px 100px;
    margin-bottom: 80px;
}

.banner-label {

    font-size: 24px;
    font-weight: 500;
    color: #0e0e0e50;
    margin: 16px 0;
}

.banner-description {

    font-size: 56px;
    font-weight: 700;
    color: #0e0e0e;
    margin: 16px 0;
}

.banner-nav-button {

    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    margin: 16px 0;
}

.banner-image {
    width: 475px;
    height: 400px;
}


/* Pillars BD Section Styles */
.pillars-bd {
    margin-bottom: 80px;
}

.pillars-bd-content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.pillars-bd-content-box {
    /* box-sizing: border-box; */
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.pillars-bd-content h4 {

    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin: 12px 0px;
}

.pillars-bd-content p {

    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}


/* Future Vision Section Styles*/
.future-vision {
    margin-bottom: 80px;
}

.future-vision-description {

    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
    margin: 24px 0px;
}

.future-vision-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.future-vision-list-item {
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.future-vision-list-item h4 {

    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin: 12px 0px;
}

.future-vision-list-item p {

    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}

.item-1 {
    background: rgba(84, 144, 245, 0.2);
}

.item-2 {
    background: rgb(198, 228, 214);
}

.item-3 {
    background: rgb(247, 235, 207);
}

.learn-more-btn {

    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    margin: 16px 0;
    padding: 11px 20px;
    margin: 24px 0px;
}

.quote {

    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    padding: 48px 24px;
    border-radius: 16px;
    background-color: #FFFFFF;
    background-image: url(./images/quote-bg.png);
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 24px;
}

/* Your Opinion Section Styles */
.opinion {
    margin-bottom: 80px;
}


/* Recent News Section Styles*/
.recent-news {
    margin-bottom: 80px;
}

.recent-news-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    margin: 24px 0;
}

.news-title {

    font-size: 32px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    margin-bottom: 16px;
}

.news-sources {
    margin-bottom: 12px;
}

.recent-news-card-container p {

    font-size: 16px;
    font-weight: 400;
    color: rgb(14, 14, 14 0.7);
    margin-bottom: 16px;
}

.read-more-btn {

    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    margin: 16px 0;
    padding: 11px 20px;
    margin: 24px 0px;
}


/* Donate section Styles */
.donate {
    margin-bottom: 80px;
}

.donate-container {
    text-align: center;
}

.donate-container p {
    margin: 16px 0;
    text-align: center;
}

.donate-box-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.donate-box {

    font-size: 40px;
    font-weight: 700;
    color: #0e0e0e80;
    padding: 40px;
    border-radius: 16px;
    background-color: #FFFFFF80;
    margin-bottom: 16px;

}

.donate-amount {

    font-size: 20px;
    font-weight: 400;
    color: #0e0e0e30;
    padding: 20px 400px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
    border: 0px;
    background-size: 1300px;

}

.donate-button {

    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    padding: 11px 20px;
    margin: 24px 0px;
}


/* Subscribe Section Styles*/
.subscribe-container {
    text-align: center;
    padding: 80px 100px;
    border-radius: 24px;
    background-color: #c6e4d6;
}

.subscribe h2 {
    margin-bottom: 0px;
}

.subscribe p {
    margin: 24px;
}

.subscribe-form input {

    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    width: 600px;
    padding: 18px 40px;
    border-radius: 8px 0px 0px 8px;
    margin-right: -3px;
    background: rgb(255, 255, 255);
    border: 0px;
}

.subscribe-form button {

    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 150px;
    padding: 17px 40px;
    border-radius: 0px 8px 8px 0px;
    margin-left: -3px;
    background: rgb(0, 106, 80);
    border: 0px;

}


/* footer Styles */
.footer {
    max-width: 1600;
    width: auto;
    padding: 50px 160px;
    background-color: #FFFFFF;
}

.footer h4 {

    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #0E0E0E;
}

.line {
    width: 1120;
    margin: 32px 80px;
    border: 1px solid #0E0E0E10;
}

footer ul>li {
    list-style: none;
    display: inline;
    padding: 12px;
}